.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 25vh 25vh 25vh 25vh;
  }




.header_ul{
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    
    margin-top: 35px;
    margin-right: 1000px;
    font-size: 20px;

}

.headerli{
    float: left;

    background-color: darkred;
}

.headerli a{
    display: block;
    text-decoration: none;
    margin: 15px;
    color: white;
}
.headerli a:hover{
    color:dimgray;
}
.header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    border-style:solid;
    background-color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;


}
main{
    grid-column: 1/3;
    grid-row: 2/4;
    background-color: dimgrey;
    border: 5px; 
    border-color: darkred;
    border-style:solid;
}
.aside2{
    grid-column: 3/5;
    grid-row: 2/5;
    background-color: dimgrey;
    border: 5px; 
    border-style:solid;
    border-color: darkred;
   
}
#footer{
    grid-column:1/3;
    grid-row: 4/5;
    background-color: #696969;
    border: 5px; 
    border-style:solid;
    border-color: darkred;
}
.main{
    font-size: 25px;
    font-family:serif;
}
/*   
.aside{
    grid-column:3/5;
    grid-row:2/5;
    background-color: dimgrey;
    border: 5px;
   border-style:solid;
    border-color: darkred;
} */
